---
swagger: "2.0"
info:
  version: "1.0.0"
  title: "Simpatico CTZP API"
host: "simpatico.hi-iberia.es:4570"
basePath: "/simpatico/api/ctzp"
schemes:
- "https"
produces:
- "application/json"
paths:
  /find_content_request:
    get:
      tags:
      - "find"
      summary: "find_content_request"
      description: "Find content request"
      produces:
      - "application/json"
      parameters:
      - name: "words"
        in: "query"
        description: "user id."
        required: false
        type: "string"
      responses:
        200:
          description: "Data matching"
          schema:
            $ref: "#/definitions/Message"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/Message"
        500:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Message"
  /find_question_request:
    get:
      tags:
      - "find"
      summary: "find_question_request"
      description: "Find question request"
      produces:
      - "application/json"
      parameters:
      - name: "words"
        in: "query"
        description: "user id."
        required: false
        type: "string"
      responses:
        200:
          description: "Data matching"
          schema:
            $ref: "#/definitions/Message"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/Message"
        500:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Message"    
  /find_new_question:
    get:
      tags:
      - "find"
      summary: "find_new_question"
      description: "Find new question"
      produces:
      - "application/json"
      parameters:
      - name: "words"
        in: "query"
        description: "user id."
        required: false
        type: "string"
      responses:
        200:
          description: "Data matching"
          schema:
            $ref: "#/definitions/Message"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/Message"
        500:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Message"       
  /find_new_answer:
    get:
      tags:
      - "find"
      summary: "find_new_answer"
      description: "Find new answer"
      produces:
      - "application/json"
      parameters:
      - name: "words"
        in: "query"
        description: "user id."
        required: false
        type: "string"
      responses:
        200:
          description: "Data matching"
          schema:
            $ref: "#/definitions/Message"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/Message"
        500:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Message"     
  /find_term_request:
    get:
      tags:
      - "find"
      summary: "find_term_request"
      description: "Find term request"
      produces:
      - "application/json"
      parameters:
      - name: "words"
        in: "query"
        description: "user id."
        required: false
        type: "string"
      responses:
        200:
          description: "Data matching"
          schema:
            $ref: "#/definitions/Message"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/Message"
        500:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Message"
  /insert_content_request:
    post:
      tags:
      - "insert"
      summary: "insert_content_request"
      description: "Insert content request"
      produces:
      - "application/json"
      parameters:
      - name: "words"
        in: "query"
        description: "user id."
        required: false
        type: "string"
      responses:
        200:
          description: "Data matching"
          schema:
            $ref: "#/definitions/Message"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/Message"
        500:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Message"
  /insert_question_request:
    post:
      tags:
      - "insert"
      summary: "insert_question_request"
      description: "Insert question request"
      produces:
      - "application/json"
      parameters:
      - name: "words"
        in: "query"
        description: "user id."
        required: false
        type: "string"
      responses:
        200:
          description: "Data matching"
          schema:
            $ref: "#/definitions/Message"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/Message"
        500:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Message"    
  /insert_new_question:
    post:
      tags:
      - "insert"
      summary: "insert_new_question"
      description: "Insert new question"
      produces:
      - "application/json"
      parameters:
      - name: "words"
        in: "query"
        description: "user id."
        required: false
        type: "string"
      responses:
        200:
          description: "Data matching"
          schema:
            $ref: "#/definitions/Message"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/Message"
        500:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Message"       
  /insert_new_answer:
    post:
      tags:
      - "insert"
      summary: "insert_new_answer"
      description: "Insert new answer"
      produces:
      - "application/json"
      parameters:
      - name: "words"
        in: "query"
        description: "user id."
        required: false
        type: "string"
      responses:
        200:
          description: "Data matching"
          schema:
            $ref: "#/definitions/Message"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/Message"
        500:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Message"     
  /insert_term_request:
    post:
      tags:
      - "insert"
      summary: "insert_term_request"
      description: "Insert term request"
      produces:
      - "application/json"
      parameters:
      - name: "words"
        in: "query"
        description: "user id."
        required: false
        type: "string"
      responses:
        200:
          description: "Data matching"
          schema:
            $ref: "#/definitions/Message"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/Message"
        500:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Message"
  /update_content_request:
    put:
      tags:
      - "update"
      summary: "update_content_request"
      description: "Update content request"
      produces:
      - "application/json"
      parameters:
      - name: "words"
        in: "query"
        description: "user id."
        required: false
        type: "string"
      responses:
        200:
          description: "Data matching"
          schema:
            $ref: "#/definitions/Message"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/Message"
        500:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Message"
  /update_question_request:
    put:
      tags:
      - "update"
      summary: "update_question_request"
      description: "Update question request"
      produces:
      - "application/json"
      parameters:
      - name: "words"
        in: "query"
        description: "user id."
        required: false
        type: "string"
      responses:
        200:
          description: "Data matching"
          schema:
            $ref: "#/definitions/Message"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/Message"
        500:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Message"    
  /update_new_question:
    put:
      tags:
      - "update"
      summary: "update_new_question"
      description: "Update new question"
      produces:
      - "application/json"
      parameters:
      - name: "words"
        in: "query"
        description: "user id."
        required: false
        type: "string"
      responses:
        200:
          description: "Data matching"
          schema:
            $ref: "#/definitions/Message"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/Message"
        500:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Message"       
  /update_new_answer:
    put:
      tags:
      - "update"
      summary: "update_new_answer"
      description: "Update new answer"
      produces:
      - "application/json"
      parameters:
      - name: "words"
        in: "query"
        description: "user id."
        required: false
        type: "string"
      responses:
        200:
          description: "Data matching"
          schema:
            $ref: "#/definitions/Message"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/Message"
        500:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Message"     
  /update_term_request:
    put:
      tags:
      - "update"
      summary: "update_term_request"
      description: "Update term request"
      produces:
      - "application/json"
      parameters:
      - name: "words"
        in: "query"
        description: "user id."
        required: false
        type: "string"
      responses:
        200:
          description: "Data matching"
          schema:
            $ref: "#/definitions/Message"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/Message"
        500:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Message"
  /remove:
    delete:
      tags:
      - "remove"
      summary: "remove"
      description: "remove data"
      produces:
      - "application/json"
      parameters:
      - name: "words"
        in: "query"
        description: "user id."
        required: false
        type: "string"
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/Message"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/Message"
        500:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Message"
definitions:
  Message:
    type: "object"
    properties:
      message:
        type: "string"

